<div class="footer-container-wrapper">
  <div class="footer-container container-fluid">

    <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
      <div class="row-fluid ">
        <div class="span12 widget-span widget-type-custom_widget " style=""
          data-widget-type="custom_widget" data-x="0" data-w="12">
          <div id="hs_cos_wrapper_module_159621438854742"
            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-page_footer"
            style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
            <div class="footer">
              <div class="container">
                <div class="row-fluid">
                  <div class="span12 company_info">
                    <a href="https://www.incognito.com/?hsLang=en"><img
                        src="https://www.incognito.com/hubfs/incognito_logo_white.png"
                        class="incognito_footer_logo" alt="Incognito"></a><br>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span3 company_info">
                    <p>With over 20 years’ experience, Incognito has helped global providers
                      accelerate and innovate broadband services, with a unique focus on cable,
                      fiber, and mobile broadband technologies.</p>
                    <p>Vancouver, Canada (HQ)<br>Ottawa, Canada<br>Dublin, Ireland<br>Chennai, India
                    </p>
                    <a class="contact_link"
                      href="https://www.incognito.com/contact?hsLang=en">Contact</a><br><br>
                    <a class="contact_link"
                      href="https://www.incognito.com/submit-rfp?hsLang=en">Submit RFP</a><br><br>
                    <a class="contact_link"
                      href="https://www.incognito.com/privacy-policy?hsLang=en">Privacy Policy</a>
                  </div>
                  <div class="span3 footer_menus">
                    <div style="font-weight: bold;"><a
                        href="https://www.incognito.com/solutions/?hsLang=en"
                        rel=" noopener">Solutions</a></div>
                    <p><a
                        href="https://www.incognito.com/solutions/fiber-service-orchestration/?hsLang=en"
                        rel=" noopener">Fiber</a></p>
                    <p><a
                        href="https://www.incognito.com/solutions/cable-internet-service-providers/?hsLang=en"
                        rel=" noopener">Cable</a></p>
                    <p><a
                        href="https://www.incognito.com/solutions/fixed-wireless-internet-service-providers/?hsLang=en"
                        rel=" noopener">Fixed Wireless</a></p>
                    <p><a href="https://www.incognito.com/solutions/digital-experience/?hsLang=en"
                        rel=" noopener">Digital Experience</a></p>
                    <p><a
                        href="https://www.incognito.com/solutions/iot-device-management/?hsLang=en"
                        rel=" noopener">Enterprise IoT</a></p>
                    <p><a href="https://www.incognito.com/solutions/prepaid-broadband/?hsLang=en"
                        rel=" noopener">Prepaid Broadband</a></p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div><strong>Services</strong></div>
                    <p><a href="https://www.incognito.com/services/?hsLang=en"
                        rel=" noopener">Professional Services</a></p>
                    <p><a href="https://support.incognito.com" rel=" noopener">Customer Support</a>
                    </p>
                  </div>
                  <div class="span3 footer_menus">
                    <div style="font-weight: bold;"><a
                        href="https://www.incognito.com/products/?hsLang=en"
                        rel=" noopener">Products</a></div>
                    <p><a
                        href="https://www.incognito.com/products/broadband-command-center/?hsLang=en"
                        rel=" noopener">DOCSIS Provisioning</a></p>
                    <p><a
                        href="https://www.incognito.com/products/auto-configuration-server/?hsLang=en"
                        rel=" noopener">TR-069 Device Mgmt.</a></p>
                    <p><a
                        href="https://www.incognito.com/products/user-services-platform/?hsLang=en"
                        rel=" noopener">TR-369 Device Mgmt.</a></p>
                    <p><a
                        href="https://www.incognito.com/products/service-activation-center/?hsLang=en"
                        rel=" noopener">Service Activation</a></p>
                    <p><a href="https://www.incognito.com/solutions/firmware-management?hsLang=en"
                        rel=" noopener">Firmware Management</a></p>
                    <p><a href="https://www.incognito.com/products/address-commander/?hsLang=en"
                        rel=" noopener">IP Address Management</a></p>
                    <p><a
                        href="https://www.incognito.com/products/monetization-and-analytics-platform/?hsLang=en"
                        rel=" noopener">Monetization &amp; Analytics</a></p>
                    <p>&nbsp;</p>
                    <div><strong>Insights</strong></div>
                    <p><a href="https://blog.incognito.com/?hsLang=en" rel="noopener"
                        target="_blank">Blog</a></p>
                    <p><a href="https://www.incognito.com/connectivity-for-all?hsLang=en"
                        rel=" noopener">Connectivity for All</a></p>
                    <p><a href="https://www.incognito.com/insights/fiber-monetization?hsLang=en"
                        rel=" noopener">Fiber Monetization</a></p>
                    <p><a href="https://www.incognito.com/usp-insights/?hsLang=en"
                        rel=" noopener">User Services Platform</a></p>
                    <p><a href="https://www.incognito.com/iot-insights/?hsLang=en"
                        rel=" noopener">Capitalize on IoT</a></p>
                    <p><a href="https://www.incognito.com/the-future-is-fiber/?hsLang=en"
                        rel=" noopener">The Future is Fiber</a></p>
                    <p><a href="https://www.incognito.com/resources/?hsLang=en"
                        rel=" noopener">Resources</a></p>
                  </div>
                  <div class="span3 footer_menus">
                    <div><strong>Company</strong></div>
                    <p><a href="https://www.incognito.com/overview/?hsLang=en" rel=" noopener">About
                        Incognito</a></p>
                    <p><a href="https://www.incognito.com/covid19/?hsLang=en"
                        rel=" noopener">COVID-19 Response</a></p>
                    <p><a href="https://www.incognito.com/team/?hsLang=en" rel=" noopener">Team</a>
                    </p>
                    <p><a href="https://www.incognito.com/press-room/?hsLang=en"
                        rel=" noopener">Newsroom</a></p>
                    <p><a href="https://www.incognito.com/events/?hsLang=en"
                        rel=" noopener">Events</a></p>
                    <p><a href="https://www.incognito.com/careers/?hsLang=en"
                        rel=" noopener">Careers</a></p>
                    <p><a href="https://www.incognito.com/contact/?hsLang=en"
                        rel=" noopener">Contact</a></p>
                    <p><a href="https://www.incognito.com/submit-rfp/?hsLang=en"
                        rel=" noopener">Submit RFP</a></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="below_footer">
              <div class="container">
                <div class="row-fluid">
                  <div class="span6">
                    <p class="copyright">Copyright © 2021 Incognito Software Systems Inc.<br>All
                      Rights Reserved.</p>
                  </div>
                  <div class="span6 social_wrapper">
                    <a class="social" href="https://twitter.com/incognito_sfwr" aria-hidden="false"
                      title="Incognito Twitter" alt="Incognito Twitter"
                      aria-label="Incognito Twitter"><i class="fa fa-twitter"></i></a>
                    <a class="social" href="https://www.linkedin.com/company/incognito-software"
                      aria-hidden="false" title="Incognito LinkedIn" alt="Incognito LinkedIn"
                      aria-label="Incognito LinkedIn"><i class="fa fa-linkedin"></i></a>
                    <a class="social" href="https://www.youtube.com/incognitosoftware"
                      aria-label="Incognito YouTube" title="Incognito YouTube" aria-hidden="false"
                      alt="Incognito YouTube"><i class="fa fa-youtube"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--end widget-span -->
      </div>
      <!--end row-->
    </div>
    <!--end row-wrapper -->

  </div>
  <!--end footer -->
</div>